<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<title th:text="${titulo}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">Spring Boot</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/listar}">Listar</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/form}">Nuevo
							Cliente</a></li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Buscar"
						aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Buscar</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="container mt-3 ">
		<h1 class="text-primary" th:text="${titulo}"></h1>
		<hr>
		<form th:action="@{/form}" th:object="${cliente}" method="post">
			<div class="form-group row mb-3">
				<label class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" th:field="*{nombre}"
						th:errorclass="'form-control is-invalid'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
			<div class="form-group row mb-3">
				<label class="col-sm-2 col-form-label">Apellido</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" th:field="*{apellido}"
						th:errorclass="'form-control is-invalid'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
				</div>
			</div>
			<div class="form-group row mb-3">
				<label class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" th:field="*{email}"
						th:errorclass="'form-control is-invalid'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
				</div>
			</div>

			<div class="form-group row mb-3">
				<label class="col-sm-2 col-form-label">Fecha</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" th:field="*{createAt}"
						th:errorclass="'form-control is-invalid'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
				</div>
			</div>

			<div class="form-group mt-2 justify-content-center ">
				<input type="submit" class="btn btn-primary" style="width: 200px"
					th:value="${btnTitle}" />
			</div>
			<!-- Se elimina y se utiliza la anotacion @SessionAttributes("cliente") en nuestro controlador  
			<input type="hidden" th:field="*{id}" />-->
		</form>
	</div>


	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>